<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bob's Burgers</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!-- Font Awesome Glyphicons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/burger_style.css">
	</head>
	<body>
		<div class="container">
		    <div class="row">
				<img class="center-block" src="assets/img/burger.jpg" alt="Bob's Big Burger">
			</div>
		    <div class="row">
				{{{ body }}}
			</div>
		    <div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<div style="font-size: 8px">© Copyright 2018 - Bob Imel II</div>
					</div>
				</div>
		    </div>
		</div>
	</body>
</html>
